@model Lillekauplus.Models.Lilled
@{
    ViewBag.Title = "Добавить книгу";
}

<h2>Добавить товар</h2>
<form method="post" enctype="multipart/form-data">
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary()
        <div class="form-group">
            <p><b>Название товара</b></p>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Nimetus, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <p><b>Продавец</b></p>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Muuja, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <p><b>Цена</b></p>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Hind, new { @class = "form-control" })
            </div>
        </div>

 

        <div class="form-group">
            <a href="~/Home/Index" class="btn btn-primary">Вернуться назад</a>
            <input type="submit" value="Добавить товар" class="btn btn-primary" />
        </div>
    </div>
</form>