@model IEnumerable<Lillekauplus.Models.Lilled>
@{ 
    ViewBag.Title = "Главная страница";
}
<div style="text-align: center;">
    <h3>Выберите товар для покупки:</h3>
    <table class="table" align="center" style="width: 100%; text-align: center; margin-top: 2%;">
        <tr style="font-weight: bold; font-size: 16px;">
            <td><p>Название товара</p></td>
            <td><p>Продавец</p></td>
            <td><p>Цена</p></td>
            <td colspan="3"><p>Действие</p></td>
        </tr>
        @foreach (var b in ViewBag.Lilleds)
        {
        <tr style="font-size:18px;">
            <td><p>@b.Nimetus</p></td>
            <td><p>@b.Muuja</p></td>
            <td><p>@b.Hind &euro;</p></td>
            <td><p><a href="/Home/Buy/@b.Id?@b.Nimetus" class="btn btn-success">Купить цветы</a></p></td>
            
        </tr>
        }
    </table>
</div>